<div class="row">
    <div class="col-md-8">
        <div class="media">
            <br />
            <% avatar_url = @user.avatar_url(128) %>
            <% if avatar_url %>
                <div class="media-left">
                    <%= image_tag avatar_url, class: 'media-object' %>
                </div>
            <% end %>
            <div class="media-body">
                <% if user_post_count %>
                    <h2 class="media-heading"><%= @user.name %></h2>
                    <small>
                        <%= pluralize(@user.posts.count, 'post') %>
                        <%= pluralize(@user.comments.count, 'comment') %>
                    </small>
                <% else %>
                    <h2 class="media-heading">
                        <%= @user.name %> has not submitted any posts yet.
                    </h2>
                <% end %>
            </div>
        </div>
    </div>
</div>

<h2>Posts</h2>
<%= render @user.posts %>

<h2>Comments</h2>
<%= render @user.comments %>
<h2>Favorites</h2>
<div class="row">
    <% @user.favorites.each do |fav| %>
    <div class="col-md-1">
        <%= image_tag @user.avatar_url(64), class: 'media-object' %>
    </div>
    <div class="col-md-3">
        <%= render fav.post %>
    </div>
    <% end %>
</div>